<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feida.ams.api.pc.process.mapper.ProcessLogMapper">

    <select id="getListByProcessInstanceOrderByTime" resultType="com.feida.common.domain.BaseDto" parameterType="com.feida.common.domain.BaseDto">
        select * from
        (select
            pl.actor_id as actorId,
            pl.actor_opinion as actorOpinion,
            pl.actor_time as actorTime,
            pl.actor_type as actorType,
            pl.id as id,
            pl.process_instance_id as processInstanceId,
            pl.process_node_id as processNodeId,

            pl.transfer_flag as transferFlag,
            a.staff_name as actorName
            from process_log_t pl
            <if test="null != actTypes and actTypes != ''">
                join <foreach collection="actTypes" item="item" separator="union" open="(" close=")">
                        select #{item} as id
                       </foreach> att on att.id = pl.actor_type
            </if>
            join account_t a on a.id =  pl.actor_id
            where
             process_instance_id = #{processInstanceId}
            <if test="null != processNodeId and processNodeId != ''">
                and pl.process_node_id = #{processNodeId}
            </if>
        )a order by a.actorTime
    </select>
</mapper>