<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feida.ams.api.pc.process.mapper.ProcessRoleAccountMapper">

    <select id="getAccountIdsByRoleId" resultType="com.feida.common.domain.BaseDto" parameterType="java.lang.Integer">
        select
        pra.account_id as accountId,
        a.staff_name as staffName,
        ot.organization_name as organizationName
         from process_role_account_t pra
         join <foreach collection="list" open="(" close=")" separator="union" item="item">
              select #{item } as id
            </foreach> role on pra.role_id = role.id
        join account_t a on a.id = pra.account_id
        join organization_tree_t ot on ot.id = a.organization_tree_id

    </select>
</mapper>