<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feida.ams.api.pc.process.mapper.ProcessDefinitionMapper">
    <resultMap id="BaseResultMap" type="com.feida.ams.api.pc.process.model.ProcessDefinition">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="form_type_id" jdbcType="INTEGER" property="formTypeId"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        <result column="copy_condition" jdbcType="INTEGER" property="copyCondition"/>
        <result column="relation_regex" jdbcType="VARCHAR" property="relationRegex"/>
        <result column="relation_content" jdbcType="VARCHAR" property="relationContent"/>
        <result column="relation_json" jdbcType="VARCHAR" property="relationJson"/>
        <result column="process_definition_version" jdbcType="INTEGER" property="processDefinitionVersion"/>
        <result column="creator" jdbcType="INTEGER" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modifier" jdbcType="INTEGER" property="modifier"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag"/>
        <result column="road_id" jdbcType="INTEGER" property="roadId"/>
        <collection property="processNodeList" column="id" select="com.feida.ams.api.pc.process.mapper.ProcessNodeMapper.selectByProcessId"/>
    </resultMap>
    <sql id="base_sql">
        name,id,form_type_id, copy_condition, relation_regex, relation_content,relation_json, process_definition_version, road_id
    </sql>
    <select id="getListByFormTypeId" resultMap="BaseResultMap" parameterType="com.feida.common.domain.BaseDto">
        select
        <include refid="base_sql"/>
        from process_definition_t pd
        where pd.delete_flag = 1
        and pd.form_type_id = #{formTypeId}
        and pd.process_definition_version=#{processDefinitionVersion}
    </select>

    <select id="getByCondition" resultType="com.feida.common.domain.BaseDto"
            parameterType="com.feida.common.domain.BaseDto">
        select
        pd.copy_condition as copyCondition,
        pd.delete_flag as deleteFlag,
        pd.form_type_id as formTypeId,
        ft.form_type_name as formTypeName,
        pd.id as id,
        pd.modified_time as modifiedTime,
        pd.modifier as modifier,
        pd.name as name,
        pd.parent_id as parentId,
        pd.process_definition_version as processDefinitionVersion,
        pd.relation_content as relationContent,
        pd.relation_regex as relationRegex,
        pd.relation_json as relationJson
        from process_definition_t pd
        left join form_type_t ft on ft.id = pd.form_type_id
        where pd.delete_flag = 1

        <if test="null != formTypeId and formTypeId != ''">
            and pd.form_type_id = #{formTypeId}
        </if>
        <if test="null != processDefinitionVersion and processDefinitionVersion != ''">
            and pd.process_definition_version = #{processDefinitionVersion}
        </if>
    </select>
    <select id="getDto" parameterType="java.lang.Integer" resultType="com.feida.common.domain.BaseDto">
    select
    pd.copy_condition as copyCondition,
    pd.create_time as createTime,
    pd.creator as creator,
    pd.delete_flag as deleteFlag,
    pd.form_type_id as formTypeId,
    ft.form_type_name as formTypeName,
    pd.id as id,
    pd.modified_time as modifiedTime,
    pd.modifier as modifier,
    pd.name as name,
    pd.parent_id as parentId,
    pd.process_definition_version as processDefinitionVersion,
    pd.relation_content as relationContent,
    pd.relation_json as relationJson
           from process_definition_t pd
        left join form_type_t ft on ft.id = pd.form_type_t
           where id = #{id}
  </select>

</mapper>