<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feida.ams.api.pc.process.mapper.ProcessNodeMapper">

    <resultMap id="BaseResultMap" type="com.feida.ams.api.pc.process.model.ProcessNode">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="process_definition_id" jdbcType="INTEGER" property="processDefinitionId" />
        <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
        <result column="node_no" jdbcType="INTEGER" property="nodeNo" />
        <result column="node_type" jdbcType="INTEGER" property="nodeType" />
        <result column="pass_codition" jdbcType="INTEGER" property="passCodition" />
        <result column="order_flag" jdbcType="INTEGER" property="orderFlag" />
        <result column="mandatory_flag" jdbcType="INTEGER" property="mandatoryFlag" />
    </resultMap>

    <select id="selectByProcessId" resultType="com.feida.common.domain.BaseDto" parameterType="java.lang.Integer">
        select
        pn.process_definition_id as processDefinitionId,
        pn.pass_codition as passCodition,
        pn.order_flag as orderFlag,
        pn.node_type as nodeType,
        pn.node_no as nodeNo,
        pn.node_name as nodeName,
        pn.mandatory_flag as mandatoryFlag,
        pn.id as id,

        pna.executive_type as executiveType,
        pna.executive_level as executiveLevel,
        pna.executive_ids as executiveIds
          from process_node_t pn
          left join process_node_actor_t pna on pn.id = pna.process_node_id
          where pn.process_definition_id = #{processDefinitionId}
    </select>

    <select id="getDto" resultType="com.feida.common.domain.BaseDto" parameterType="java.lang.Integer">
        select
            pn.id as id,
            pn.mandatory_flag as mandatoryFlag,
            pn.node_name as nodeName,
            pn.node_no as nodeNo,
            pn.node_type as nodeType,
            pn.order_flag as orderFlag,
            pn.pass_codition as passCodition,
            pn.process_definition_id as processDefinitionId
          from process_node_t pn
          where pn.process_definition_id = #{processDefinitionId}
    </select>
</mapper>